# Python
__pycache__/
*.pyc
*.pyo

# venv
.venv/
venv/

# documents
.documents/
documents/
.deploy/
deploy/
.scripts/
scripts/
.data/
data/

# secrets / local config
.env
*.env
*.key
*.pem
.gitignore
*.gitignore

# DB / logs
*.db
*.db-*
*.sqlite*
logs/
*.log
*.bat
*.lnk

# OS/IDE
.DS_Store
Thumbs.db
.vscode/
.idea/


